section.about-content.container
  div.row
    div.col-md-12
      h1= about.title
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus turpis quis lacus placerat consectetur. Nulla orci felis, faucibus nec nulla sed, vehicula tempus neque. Pellentesque magna felis, iaculis eget nisl at, rhoncus sagittis lectus. Nam tincidunt, libero ac semper rutrum, nisl diam dapibus risus, a placerat libero sapien at mauris. Nullam sodales est at ligula condimentum, eu venenatis ante lacinia. Donec metus justo, luctus quis odio nec, malesuada molestie magna. Sed ante arcu, imperdiet non felis et, viverra faucibus libero. Proin eleifend ex nibh, quis luctus neque pellentesque in. Ut nunc metus, bibendum eget erat sed, auctor efficitur felis. Morbi et nibh sit amet massa varius iaculis. Aliquam imperdiet tellus laoreet, molestie velit vel, vehicula elit. Sed posuere tristique lobortis. Integer pulvinar ex orci, sed pretium sem interdum ut. Vivamus sem ex, hendrerit facilisis ante nec, pretium dictum odio.

      p.
        Nulla pharetra, elit quis interdum dapibus, justo urna dignissim tellus, a tempus lectus est vel felis. Vestibulum nunc ante, bibendum nec risus sed, mattis convallis magna. Suspendisse non aliquet tellus. Pellentesque finibus massa sit amet molestie aliquam. Vivamus ut orci bibendum, porttitor sem quis, ultrices purus. Donec luctus purus in ipsum dapibus, non dapibus augue tincidunt. Quisque sollicitudin, quam sed tristique rutrum, ex libero tempor enim, vel aliquet lectus quam eu nibh. Nunc at suscipit velit. Vestibulum nisi libero, scelerisque eget suscipit quis, maximus vel ligula. Praesent vitae vehicula ipsum, eget efficitur odio. Proin quis malesuada neque.
    
  include ./_module.top.jade