section.contact-content.container
  div.row
    div.col-md-12
      h1= contact.title
      address
        strong 
          Company Name <br>
        | PO BOX 1111 <br>
        | Place, NSW, 1111 <br>
        | Australia