section.contact-content.container
  div.row
    div.col-md-12
      h1= contact.title
  div.row    
    div.col-md-5
      form(role='form')
        fieldset.form-group.has-success.has-feedback
          label(for='name') Email
          input#name.form-control.input-lg(type='email', placeholder='your@email.com', aria-describedby='emailInputSuccess')
          span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
          span#emailInputSuccess.sr-only (success)
        fieldset.form-group.has-success.has-feedback
          label(for='name') Message
          textarea#message.form-control.input-lg(placeholder='Your message', rows='5', aria-describedby='messageInputSuccess')
          span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
          span#messageInputSuccess.sr-only (success)
        button.btn-lg.btn-default(type='submit') Submit
    div.col-md-4
      div.map Map
    div.col-md-3
      address
        strong 
          Company Name <br>
        | PO BOX 1111 <br>
        | Place, NSW, 1111 <br>
        | Australia
  div.row.text-right.to-top
    a(href= page.top.link)
      span.glyphicon.glyphicon-arrow-up(aria-hidden='true')
      span= page.top.label