section.contact-content.container
  div.row
    div.col-md-12
      h1= contact.title
  div.row    
    div.col-md-6
      h2 Get in touch
      include ./_module.address.jade
    div.col-md-6
      p
        img.img-rounded.img-responsive(alt='', src='img/planning-on-site.jpg')
      //
        h2 Send us a mail
        form(role='form')
          fieldset.form-group.has-success.has-feedback
            label(for='name') Email
            input#name.form-control.input-lg(type='email', placeholder='your@email.com', aria-describedby='emailInputSuccess')
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
            span#emailInputSuccess.sr-only (success)
          fieldset.form-group.has-success.has-feedback
            label(for='name') Message
            textarea#message.form-control.input-lg(placeholder='Your message', rows='5', aria-describedby='messageInputSuccess')
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
            span#messageInputSuccess.sr-only (success)
          button.btn-lg.btn-default(type='submit') Submit
    include ./_module.top.jade