footer.container
  div.row
    div.col-md-4
      ul.list-unstyled
        li
          a Something
        li
          a Something
        li
          a Something
    div.col-md-4
      ul.list-unstyled
        li
          a Something
        li
          a Something
        li
          a Something          
    div.col-md-4
      ul.list-unstyled
        li
          a Something
        li
          a Something
        li
          a Something
          
script(src='/js/main.js')