footer.container
  div.row
    div.col-md-12
      p.copy
        span.org &copy; 
          a(href='/')= page.title 
        span.date #{new Date().getFullYear()}
          
script(src='/js/main.js')