- var n = 0;
header
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-text.navbar-right
        include ./_module.address.jade
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.main-nav-collapsable')
          span.sr-only Toggle navigation
          while n < 3
            span.icon-bar
            - n++
        a.navbar-brand.text-uppercase(href='/')
          img.img-responsive(src='img/dodd-civil-consultancy-logo.png', alt= page.title)
          strong!= page.logo
      div.collapse.navbar-collapse.main-nav-collapsable 
        ul.nav.navbar-nav
          each val, index in navigation
            li(data-target=val.link)
              a.text-uppercase(href=val.link)= val.label