meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title= page.title
link(rel='profile', href='http://microformats.org/profile/hcard')
link(rel='stylesheet', href='/css/base.css')
script(src='/js/modernizr.js')