section.home-hero.clearfix
  div.section-image.fade.in
    div.bg-image(style='background-image:url(/img/' + home.heroImage + ')')
  div.content-container.text-center.center-block
    p.lead!= home.hero.title
    div.row.promos
      each item in home.hero.promos
        div.col-md-4
          div(class='glyphicon glyphicon-'+ item.icon, aria-hidden='true')
          p= item.label
section.home-content.clearfix
  div.container
    div.row
      div.col-md-6.col-xs-12
        p!= home.paragraph.left
      div.col-md-6.col-xs-12
        p!= home.paragraph.right