div.vcard
  div.org Dodd Civil Consulting
  div.title.strap Engineering Services &amp; Project Management
  div.title Building Consultants
  div.title Environmental Management
  address.adr
    div.post-office-box PO Box 1619
    span.locality Coffs Harbour
    abbr.region(title='New South Wales') NSW
    span.postal-code 2450
    span.country-name Australia
  div
    strong Call us:
    span.tel (+61) 0 400 213790
  div 
    strong Email:
    span.email
      a(href='mailto:mark@doddcivil.com.au') mark@doddcivil.com.au