section.services-content.container
  div.row
    div.col-md-12
      h1= services.title
  div.row
    div.col-md-4
      img.img-rounded.img-responsive(alt='', src='http://placekitten.com/g/350/310')
    div.col-md-4
      img.img-circle.img-responsive(alt='', src='http://placekitten.com/g/350/310')
    div.col-md-4
      img.img-rounded.img-responsive(alt='', src='http://placekitten.com/g/350/310')
  
  div.row.text-right.to-top
    a(href= page.top.link)
      span.glyphicon.glyphicon-arrow-up(aria-hidden='true')
      span= page.top.label