doctype html
html(lang='en')
  head
  include ./_head.jade
  body
    include ./_header.jade
    main(id='main', role='main')
      div#home.section-container.clearfix
        include ./_home.jade
      div#services.section-container.clearfix
        include ./_services.jade
      div#about.section-container.clearfix
        include ./_about.jade
      div#contact.section-container.clearfix
        include ./_contact.jade
      div#footer.section-container.clearfix  
        include ./_footer.jade